body {
  background: #edf0f2;
}

.MarkdownEditor {
  width: 100%;
  min-height: 600px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}
.MarkdownEditor h3 {
  text-align: center;
  background: #cce6ff;
  margin: 0;
  padding: 3px;
}

.editor, .output {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  width: 45%;
  background: white;
  border: 1px solid black;
}

textarea, .output .content {
  padding: 0 15px;
  resize: none;
  height: 100%;
}

textarea {
  padding: 15px;
  background: #ededed;
  border: none;
}

nav {
  background: #5091d3;
  color: #ebebeb;
  padding: 5px 0;
  margin-bottom: 10px;
}

footer {
  height: 100px;
  text-align: center;
}
footer span {
  line-height: 100px;
}
footer .fa {
  color: red;
}
